@model BasketViewModel

<div class="row d-flex justify-content-center my-4">
    <partial name="../Partials/_StatusMessage" model="@TempData["StatusMessage"]" />
    <div class="col-md-8">
        <div class="card mb-4">
            <div class="card-header py-3">
                <h5 class="mb-0">@Model.Basket.Flowers.Count() позиции</h5>
                <a class="text-danger" href="javascript:clearBasket();">Очистить корзину</a>
            </div>
            <div class="card-body">
                @foreach (var item in Model.Basket.Flowers)
                {
                    <div class="row position-relative">
                        <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                            <div class="rounded">
                                <a id="@item.Flower.Id" href="@item.Flower.PhotoPath" class="js-img-viewer-fit" data-caption="@(item.Flower.Title)" data-id="@(item.Flower.Id)">
                                    <img src="@item.Flower.PhotoPath" class="" style="max-height: 150px;" alt="..." />
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                            <a asp-controller="Flower" asp-action="Index" asp-route-id="@item.Flower.Id"><strong>@item.Flower.Title</strong></a>
                            <h6 class="text-danger fw-bold ">
                                @if (item.Flower.IsSale())
                                {
                                    <span class="text-muted text-decoration-line-through me-2">
                                        @item.Flower.Price
                                        руб.
                                    </span>
                                }
                                @(item.Flower.GetTotalPrice() + " руб.")
                            </h6>
                            @if (item.Flower.IsInStock)
                            {
                                <p class="bg-success text-white px-3 py-1 rounded-2">
                                    В наличии
                                </p>
                            }
                            else
                            {
                                <p class="bg-danger text-white px-3 py-1 rounded-2">
                                    Нет в наличии
                                </p>
                            }
                            <small class="text-secondary ">Артикул: @item.Flower.Article</small>
                            <br>
                            <span class="d-flex text-warning">
                                <partial name="../Partials/_StarPartial" model="@item.Flower.GetStar()">  - @item.Flower.Reviews.Count() отзывов
                            </span>
                        </div>

                        @if (item.Flower.IsInStock)
                        {
                            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0 text-center ">
                                <div class="d-flex mb-4 w-100 justify-content-center ">
                                    <div class="number">
                                        <button class="number-minus" type="button"
                                                onclick="this.nextElementSibling.stepDown(); minusBasket(`@item.FlowerId`);">
                                            -
                                        </button>
                                        <input type="number" min="1" max="100" value="@item.Count" readonly>
                                        <button class="number-plus" type="button"
                                                onclick="this.previousElementSibling.stepUp();  plusBasket(`@item.FlowerId`);">
                                            +
                                        </button>
                                    </div>
                                </div>

                                Итого:
                                <h6 class="fw-bold ">@item.GetTotalPrice() руб.</h6>
                            </div>

                            <a href="javascript:deleteBasket(`@item.FlowerId`);" title="Убрать с корзины">
                                <div class="badge bg-dark text-white position-absolute"
                                     style="top: 0rem; right: 0.5rem">
                                    <i class="bi bi-x"></i>
                                </div>
                            </a>
                        }
                    </div>

                    <hr class="my-4" />
                }
            </div>
        </div>
    </div>
    @if (Model.Basket.Flowers.Count() >= 1)
    {
        <div class="col-md-4">
            <form method="post" asp-action="OrderCreate">
                <div class="card mb-4">
                    <div class="card-body">
                        <p><strong>Выберите время доставки</strong></p>
                        <div class="form-group row">
                            <div class="col">
                                <input asp-for="Basket.DeliveryDate" type="text" class="form-control picker__input" id="pick-date"
                                       placeholder="Выберите дату" readonly="" aria-haspopup="true"
                                       aria-expanded="false" aria-readonly="false" aria-owns="pick-date_root">
                            </div>
                            <div class="col">
                                <select class="form__field" asp-for="Basket.DeliveryTime">
                                    <option selected>10 &#x2070;&#x2070; - 11 &#x2070;&#x2070;</option>
                                    <option>11 &#x2070;&#x2070; - 12 &#x2070;&#x2070;</option>
                                    <option>12 &#x2070;&#x2070; - 13 &#x2070;&#x2070;</option>
                                    <option>13 &#x2070;&#x2070; - 14 &#x2070;&#x2070;</option>
                                    <option>14 &#x2070;&#x2070; - 15 &#x2070;&#x2070;</option>
                                    <option>15 &#x2070;&#x2070; - 16 &#x2070;&#x2070;</option>
                                    <option>16 &#x2070;&#x2070; - 17 &#x2070;&#x2070;</option>
                                    <option>17 &#x2070;&#x2070; - 18 &#x2070;&#x2070;</option>
                                    <option>18 &#x2070;&#x2070; - 19 &#x2070;&#x2070;</option>
                                    <option>19 &#x2070;&#x2070; - 20 &#x2070;&#x2070;</option>
                                    <option>20 &#x2070;&#x2070; - 21 &#x2070;&#x2070;</option>
                                    <option>21 &#x2070;&#x2070; - 22 &#x2070;&#x2070;</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-header py-3">
                        <h5 class="mb-0">Информация о заказчике</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item justify-content-between align-items-center border-0 px-0 pb-0">
                                <label asp-for="Basket.FirstName" class="form-label"></label>
                                <input id="previewTitle" asp-for="Basket.FirstName" class="form__field text-start" placeholder="Введите имя" required />
                            </li>
                            <li class="list-group-item justify-content-between align-items-center border-0 px-0 pb-0">
                                <label asp-for="Basket.Email" class="form-label"></label>
                                <input id="previewTitle" asp-for="Basket.Email" class="form__field text-start" placeholder="Введите почту" required />
                            </li>
                            <li class="list-group-item justify-content-between align-items-center border-0 px-0 pb-0">
                                <label asp-for="Basket.Phone" class="form-label"></label>
                                <input id="previewTitle" asp-for="Basket.Phone" class="form__field text-start" placeholder="Введите телефон" required />
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header py-3">
                        <h5 class="mb-0">Адрес</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item justify-content-between align-items-center border-0 px-0 pb-0">
                                <label asp-for="Basket.Street" class="form-label"></label>
                                <input id="previewTitle" asp-for="Basket.Street" class="form__field text-start" placeholder="Введите улицу" required />
                            </li>
                            <li class="list-group-item justify-content-between align-items-center border-0 px-0 pb-0">
                                <label asp-for="Basket.HomeNumber" class="form-label"></label>
                                <input id="previewTitle" asp-for="Basket.HomeNumber" class="form__field text-start" placeholder="Введите номер дома" required />
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header py-3">
                        <h5 class="mb-0">Итого</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                Стоимость
                                <h6 class="text-danger fw-bold ">
                                    @if (Model.Basket.GetPrice() != Model.Basket.GetTotalPrice())
                                    {
                                        <span class="text-muted text-decoration-line-through me-2">
                                            @Model.Basket.GetPrice()
                                            руб.
                                        </span>
                                    }
                                    @Model.Basket.GetTotalPrice() руб.
                                </h6>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                Доставка
                                <span>4.00 руб.</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                <div>
                                    <strong>Итоговая стоимость</strong>
                                </div>
                                <span><strong>@(Model.Basket.GetTotalPrice() + 4) руб.</strong></span>
                            </li>
                        </ul>

                        <button type="submit" class="btn btn-outline-color color mt-auto">
                            Оформить заказ
                        </button>
                    </div>
                </div>
            </form>
        </div>
    }
</div>
@section Scripts {
    <partial name="Areas/Identity/Pages/_ValidationScriptsPartial" />
}