@model int

@switch (Model)
{
    case 1:
        @Html.Raw("<div class=\"star bi-star-fill\"></div><div class=\"star bi-star\"></div><div class=\"star bi-star\"></div><div class=\"star bi-star\"></div><div class=\"star bi-star\"></div>")
        ;
        break;
    case 2:
        @Html.Raw("<div class=\"star bi-star-fill\"></div><div class=\"star bi-star-fill\"></div><div class=\"star bi-star\"></div><div class=\"star bi-star\"></div><div class=\"star bi-star\"></div>")
        ;
        break;
    case 3:
        @Html.Raw("<div class=\"star bi-star-fill\"></div><div class=\"star bi-star-fill\"></div><div class=\"star bi-star-fill\"></div><div class=\"star bi-star\"></div><div class=\"star bi-star\"></div>")
        ;
        break;
    case 4:
        @Html.Raw("<div class=\"star bi-star-fill\"></div><div class=\"star bi-star-fill\"></div><div class=\"star bi-star-fill\"></div><div class=\"star bi-star-fill\"></div><div class=\"star bi-star\"></div>")
        ;
        break;
    case 5:
        @Html.Raw("<div class=\"star bi-star-fill\"></div><div class=\"star bi-star-fill\"></div><div class=\"star bi-star-fill\"></div><div class=\"star bi-star-fill\"></div><div class=\"star bi-star-fill\"></div>")
        ;
        break;
    default:
        @Html.Raw("<div class=\"star bi-star\"></div><div class=\"star bi-star\"></div><div class=\"star bi-star\"></div><div class=\"star bi-star\"></div><div class=\"star bi-star\"></div>")
        ;
        break;

}