@{
    ViewData["Title"] = "Главная";
}

<div class="container">
    <section>
        <h3 class="text-center">Популярные</h3>
        <hr><div id="carouselExampleControls" class="carousel">
            <div class="carousel-inner py-3">
                <div class="carousel-item active">
                    <a href="#" class="flowers category-link text-dark text-decoration-none">
                        <div class="card flowers-card shadow-sm text-center justify-content-end">
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                                Скидка
                            </div>
                            <div class="badge bg-warning  text-white position-absolute"
                                 style="top: 2rem; right: 0.5rem">
                                Популярное
                            </div>
                            <div class="card-img-top overflow-hidden justify-content-center">
                                <img src="~/resources/img/flowers_1.jpeg" class="h-100" style=" margin: 0 -100%;"
                                     role="img" focusable="false">
                            </div>
                            <div class="card-body px-0">
                                <h6>Букет 1</h6>
                                <span class="d-flex text-warning justify-content-center">
                                    <partial name="../Partials/_StarPartial" model="4" />  3 отзыва")
                                </span>
                                <p class="text-danger fw-bold">

                                    <span class="text-muted text-decoration-line-through">100 руб.</span>

                                    @Html.Raw($"50 руб.")
                                </p>

                                <a class="btn btn-outline-color color mt-auto">Добавить в корзину</a>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="#" class="flowers category-link text-dark text-decoration-none">
                        <div class="card flowers-card shadow-sm text-center justify-content-end">
                            <div class="card-img-top overflow-hidden justify-content-center">
                                <img src="~/resources/img/flowers_1.jpeg" class="h-100" style=" margin: 0 -100%;"
                                     role="img" focusable="false">
                            </div>
                            <div class="card-body px-0">
                                <h6>Букет 2</h6>
                                <span class="d-flex text-warning justify-content-center">
                                    <partial name="../Partials/_StarPartial" model="4" />  3 отзыва")
                                </span>
                                <p class="text-danger fw-bold">
                                    @Html.Raw($"50 руб.")
                                </p>

                                <a class="btn btn-outline-color color mt-auto">Добавить в корзину</a>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="#" class="flowers category-link text-dark text-decoration-none">
                        <div class="card flowers-card shadow-sm text-center justify-content-end">
                            <div class="card-img-top overflow-hidden justify-content-center">
                                <img src="~/resources/img/flowers_1.jpeg" class="h-100" style=" margin: 0 -100%;"
                                     role="img" focusable="false">
                            </div>
                            <div class="card-body px-0">
                                <h6>Букет 2</h6>
                                <span class="d-flex text-warning justify-content-center">
                                    <partial name="../Partials/_StarPartial" model="4" />  3 отзыва")
                                </span>
                                <p class="text-danger fw-bold">
                                    @Html.Raw($"50 руб.")
                                </p>

                                <a class="btn btn-outline-color color mt-auto">Добавить в корзину</a>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="#" class="flowers category-link text-dark text-decoration-none">
                        <div class="card flowers-card shadow-sm text-center justify-content-end">
                            <div class="card-img-top overflow-hidden justify-content-center">
                                <img src="~/resources/img/flowers_1.jpeg" class="h-100" style=" margin: 0 -100%;"
                                     role="img" focusable="false">
                            </div>
                            <div class="card-body px-0">
                                <h6>Букет 2</h6>
                                <span class="d-flex text-warning justify-content-center">
                                    <partial name="../Partials/_StarPartial" model="4" />  3 отзыва")
                                </span>
                                <p class="text-danger fw-bold">
                                    @Html.Raw($"50 руб.")
                                </p>

                                <a class="btn btn-outline-color color mt-auto">Добавить в корзину</a>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="#" class="flowers category-link text-dark text-decoration-none">
                        <div class="card flowers-card shadow-sm text-center justify-content-end">
                            <div class="card-img-top overflow-hidden justify-content-center">
                                <img src="~/resources/img/flowers_1.jpeg" class="h-100" style=" margin: 0 -100%;"
                                     role="img" focusable="false">
                            </div>
                            <div class="card-body px-0">
                                <h6>Букет 2</h6>
                                <span class="d-flex text-warning justify-content-center">
                                    <partial name="../Partials/_StarPartial" model="4" />  3 отзыва")
                                </span>
                                <p class="text-danger fw-bold">
                                    @Html.Raw($"50 руб.")
                                </p>

                                <a class="btn btn-outline-color color mt-auto">Добавить в корзину</a>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="#" class="flowers category-link text-dark text-decoration-none">
                        <div class="card flowers-card shadow-sm text-center justify-content-end">
                            <div class="card-img-top overflow-hidden justify-content-center">
                                <img src="~/resources/img/flowers_1.jpeg" class="h-100" style=" margin: 0 -100%;"
                                     role="img" focusable="false">
                            </div>
                            <div class="card-body px-0">
                                <h6>Букет 2</h6>
                                <span class="d-flex text-warning justify-content-center">
                                    <partial name="../Partials/_StarPartial" model="4" />  3 отзыва")
                                </span>
                                <p class="text-danger fw-bold">
                                    @Html.Raw($"50 руб.")
                                </p>

                                <a class="btn btn-outline-color color mt-auto">Добавить в корзину</a>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="#" class="flowers category-link text-dark text-decoration-none">
                        <div class="card flowers-card shadow-sm text-center justify-content-end">
                            <div class="card-img-top overflow-hidden justify-content-center">
                                <img src="~/resources/img/flowers_1.jpeg" class="h-100" style=" margin: 0 -100%;"
                                     role="img" focusable="false">
                            </div>
                            <div class="card-body px-0">
                                <h6>Букет 2</h6>
                                <span class="d-flex text-warning justify-content-center">
                                    <partial name="../Partials/_StarPartial" model="4" />  3 отзыва")
                                </span>
                                <p class="text-danger fw-bold">
                                    @Html.Raw($"50 руб.")
                                </p>

                                <a class="btn btn-outline-color color mt-auto">Добавить в корзину</a>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="#" class="flowers category-link text-dark text-decoration-none">
                        <div class="card flowers-card shadow-sm text-center justify-content-end">
                            <div class="card-img-top overflow-hidden justify-content-center">
                                <img src="~/resources/img/flowers_1.jpeg" class="h-100" style=" margin: 0 -100%;"
                                     role="img" focusable="false">
                            </div>
                            <div class="card-body px-0">
                                <h6>Букет 2</h6>
                                <span class="d-flex text-warning justify-content-center">
                                    <partial name="../Partials/_StarPartial" model="4" />  3 отзыва")
                                </span>
                                <p class="text-danger fw-bold">
                                    @Html.Raw($"50 руб.")
                                </p>

                                <a class="btn btn-outline-color color mt-auto">Добавить в корзину</a>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="#" class="flowers category-link text-dark text-decoration-none">
                        <div class="card flowers-card shadow-sm text-center justify-content-end">
                            <div class="card-img-top overflow-hidden justify-content-center">
                                <img src="~/resources/img/flowers_1.jpeg" class="h-100" style=" margin: 0 -100%;"
                                     role="img" focusable="false">
                            </div>
                            <div class="card-body px-0">
                                <h6>Букет 2</h6>
                                <span class="d-flex text-warning justify-content-center">
                                    <partial name="../Partials/_StarPartial" model="4" />  3 отзыва")
                                </span>
                                <p class="text-danger fw-bold">
                                    @Html.Raw($"50 руб.")
                                </p>

                                <a class="btn btn-outline-color color mt-auto">Добавить в корзину</a>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="#" class="flowers category-link text-dark text-decoration-none">
                        <div class="card flowers-card shadow-sm text-center justify-content-end">
                            <div class="card-img-top overflow-hidden justify-content-center">
                                <img src="~/resources/img/flowers_1.jpeg" class="h-100" style=" margin: 0 -100%;"
                                     role="img" focusable="false">
                            </div>
                            <div class="card-body px-0">
                                <h6>Букет 2</h6>
                                <span class="d-flex text-warning justify-content-center">
                                    <partial name="../Partials/_StarPartial" model="4" />  3 отзыва")
                                </span>
                                <p class="text-danger fw-bold">
                                    @Html.Raw($"50 руб.")
                                </p>

                                <a class="btn btn-outline-color color mt-auto">Добавить в корзину</a>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="#" class="flowers category-link text-dark text-decoration-none">
                        <div class="card flowers-card shadow-sm text-center justify-content-end">
                            <div class="card-img-top overflow-hidden justify-content-center">
                                <img src="~/resources/img/flowers_1.jpeg" class="h-100" style=" margin: 0 -100%;"
                                     role="img" focusable="false">
                            </div>
                            <div class="card-body px-0">
                                <h6>Букет 2</h6>
                                <span class="d-flex text-warning justify-content-center">
                                    <partial name="../Partials/_StarPartial" model="4" />  3 отзыва")
                                </span>
                                <p class="text-danger fw-bold">
                                    @Html.Raw($"50 руб.")
                                </p>

                                <a class="btn btn-outline-color color mt-auto">Добавить в корзину</a>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>
    <section>
        <h3 class="text-center">Новинки</h3>
        <hr>
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <div class="col mb-5">
                    <div class="card h-100">
                        <img class="card-img-top" src="~/resources/img/flowers_1.jpeg" alt="..." />
                        <div class="card-body p-4">
                            <div class="text-center">
                                <h5 class="fw-bolder">Букет 100 роз</h5>
                                <div class="d-flex justify-content-center small star mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star"></div>
                                </div>
                                105 руб.
                            </div>
                        </div>
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a class="btn btn-outline-color color mt-auto" href="#">
                                    В
                                    корзину
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                            Скидка
                        </div>
                        <div class="badge bg-warning  text-white position-absolute"
                             style="top: 2rem; right: 0.5rem">
                            Популярное
                        </div>
                        <img class="card-img-top" src="~/resources/img/flowers_2.jpg" alt="..." />
                        <div class="card-body p-4">
                            <div class="text-center">
                                <h5 class="fw-bolder">Букет 51 роза</h5>
                                <div class="d-flex justify-content-center small star mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                </div>
                                <span class="text-muted text-decoration-line-through">120 руб.</span>
                                95 руб.
                            </div>
                        </div>
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a class="btn btn-outline-color color mt-auto" href="#">
                                    В
                                    корзину
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section>
        <h3 class="text-center">Скидки</h3>
        <hr>
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <div class="col mb-5">
                    <div class="card h-100">
                        <img class="card-img-top" src="~/resources/img/flowers_1.jpeg" alt="..." />
                        <div class="card-body p-4">
                            <div class="text-center">
                                <h5 class="fw-bolder">Букет 100 роз</h5>
                                <div class="d-flex justify-content-center small star mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star"></div>
                                </div>
                                105 руб.
                            </div>
                        </div>
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a class="btn btn-outline-color color mt-auto" href="#">
                                    В
                                    корзину
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                            Скидка
                        </div>
                        <div class="badge bg-warning  text-white position-absolute"
                             style="top: 2rem; right: 0.5rem">
                            Популярное
                        </div>
                        <img class="card-img-top" src="~/resources/img/flowers_2.jpg" alt="..." />
                        <div class="card-body p-4">
                            <div class="text-center">
                                <h5 class="fw-bolder">Букет 51 роза</h5>
                                <div class="d-flex justify-content-center small star mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                </div>
                                <span class="text-muted text-decoration-line-through">120 руб.</span>
                                95 руб.
                            </div>
                        </div>
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a class="btn btn-outline-color color mt-auto" href="#">
                                    В
                                    корзину
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <partial name="../Partials/_MapPartial.cshtml">
</div>
