@using BudsFlowers.Areas.Identity.Data
@model ReviewsViewModel
@{
    ViewData["Title"] = "Отзывы";
}
<div class="container mt-2">
    <partial name="../Partials/_StatusMessage" model="@TempData["StatusMessage"]" />
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3">
            <li class="breadcrumb-item">
                <a class="link-body-emphasis" href="#">
                    <i class="bi bi-house"></i>
                    <span class="visually-hidden">Главная</span>
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                @ViewData["Title"]
            </li>
        </ol>
    </nav>
    <hr>
    <div class="card">
        <div class="card-header text-start ">
            Оставить отзыв
        </div>
        <form method="post" asp-controller="Home" asp-action="SendReview">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col ">
                        <label class="form-label">Имя (необязательно)</label>
                        <input asp-for="Review.FirstName" type="text" class="form-control" placeholder="Имя" aria-label="Имя">
                    </div>
                    <div class="col ">
                        <label class="form-label">Email для обратной связи<sup class="text-danger ">*</sup></label>
                        <input asp-for="Review.Email" type="email" class="form-control"
                               placeholder="name@gmail.com">
                    </div>
                </div>
                <div class="mb-3">
                    <partial name="../Partials/_SetStarPartialReview" />
                </div>
                <div class="mb-3">
                    <label class="form-label">Текст<sup class="text-danger ">*</sup></label>
                    <textarea asp-for="Review.Description" class="form-control" rows="5"></textarea>
                </div>
            </div>
            <button class="btn btn-outline-color color mt-auto" type="submit">Отправить</button>
        </form>
    </div>
    <hr>
    @if(Model.Reviews.Count == 0)
    {
        <div class="card mb-3 text-center">
            Отзывов пока нет, станьте первым!
        </div>
    }
    @foreach (var item in Model.Reviews)
    {
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-2 text-center" style="line-height: 100px;">
                    <span class="align-middle d-flex  text-center">
                        <partial name="../Partials/_StarPartial" model="@item.Star"/>
                    </span>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">@item.FirstName</h5>
                        <p class="card-text">
                            @item.Description
                        </p>
                        <p class="card-text">
                            <small class="text-body-secondary">
                                <i class="bi bi-calendar"></i>
                                @item.Date.ToShortDateString()
                            </small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    }
    <partial name="../Partials/_MapPartial.cshtml" />
</div>
@section Scripts {
    <partial name="../Partials/_ValidationScriptsPartial" />
}