@using BudsFlowers.Areas.Identity.Data;
@model CatalogViewModel
@{
    ViewData["Title"] = Model.Category.Title;
}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3">
            <li class="breadcrumb-item">
                <a class="link-body-emphasis" href="#">
                    <i class="bi bi-house"></i>
                    <span class="visually-hidden">Главная</span>
                </a>
            </li>
            <li class="breadcrumb-item">
                <a class="link-secondary " asp-controller="Catalog" asp-action="Index">
                    Все категории
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                @ViewData["Title"]
            </li>
        </ol>
    </nav>
    <hr>
    <div class="album">
        <div class="container">
            <div class="col">
                <div class="row border-bottom ">
                    <div class="col">
                        <h4>@ViewData["Title"]</h4>
                    </div>
                    <div class="col">
                        <label class="form-label">Цена от: </label>
                        <input type="number" class="form__field text-light" value="@Model.PriceMin" min="@Model.PriceMin" onchange="sort('@Model.Category.Id');" name="price_min"
                               id='price_min' required style="width: 50px;" />
                        <label class="form-label">до: </label>
                        <input type="number" class="form__field text-light" value="@Model.PriceMax" max="@Model.PriceMax" onchange="sort('@Model.Category.Id');" name="price_max"
                               id='price_max' required style="width: 50px;" />
                    </div>
                    <div class="col justify-content-end text-end">
                        <label class="form-label">Сортировать по: </label>
                        <select id="type_sort" onchange="sort('@Model.Category.Id');" class="form__field w-50 ms-2 float-end text-center  text-light" asp-items="Html.GetEnumSelectList<TypeSort>()">
                        </select>
                    </div>
                </div>
                <div id="listFlower" class="container-fluid">
                    <partial name="../Partials/_FLowersListPartial" />
                </div>
            </div>
        </div>
    </div>
    <partial name="../Partials/_MapPartial" />
</div>