@using BudsFlowers.Areas.Identity.Data
@using BudsFlowers.Views.Admin
@model IndexAdminViewModel
@{
    ViewData["Title"] = "Панель администрирования";
    ViewData["ActivePage"] = AdminNavPages.Index;
}

<div class="p-3">
    <div class="row">
        <div class="col-md-2">
            <partial name="_AdminNavPartial" />
        </div>
        <div class="col-md-9 border-start text-white py-2">
            <h5>Главная</h5>
            <hr />
            <div class="card">
                <div class="card-body">
                    <h6>Новые заказы</h6>
                    <table class="table table-sm" style="font-size: 12px;">
                        <thead>
                            <tr>
                                <th>Номер</th>
                                <th>Статус</th>
                                <th>Имя</th>
                                <th>Почта</th>
                                <th>Телефон</th>
                                <th>Адрес</th>
                                <th>Кол-во товаров</th>
                                <th>Дата оформления</th>
                                <th>Дата доставки</th>
                                <th>Сумма</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Orders)
                            {
                                <tr>
                                    <th><a asp-controller="Admin" asp-action="OrderInfo" asp-route-id="@item.Id">#@item.Number</a></th>
                                    <th><p>@item.Status</p>

                                </th>
                                    <th>@item.FirstName</th>
                                    <th>@item.Email</th>
                                    <th>@item.Phone</th>
                                    <th>ул. @item.Street , д. @item.HomeNumber</th>
                                    <th>@item.Flowers.Count()</th>
                                    <th>@item.DateCreate</th>
                                    <th>@item.DeliveryDate , @item.DeliveryTime</th>
                                    <th>@item.TotalSale руб.</th>
                                    <th>
                                        @{
                                            switch (item.Status)
                                            {
                                                case TypeOrderStatus.Обработка:
                                                    <a class="btn btn-sm btn-success" asp-action="ChangeStatusOrder" asp-route-id="@item.Id">Принять</a>
                                                    <a class="btn btn-sm btn-danger" asp-action="RefusalOrder" asp-route-id="@item.Id">Отказать</a>
                                                    break;
                                                case TypeOrderStatus.Принят:
                                                    <a class="btn btn-sm btn-warning" asp-action="ChangeStatusOrder" asp-route-id="@item.Id">Собирается</a>
                                                    <a class="btn btn-sm btn-danger" asp-action="RefusalOrder" asp-route-id="@item.Id">Отказать</a>
                                                    break;
                                                case TypeOrderStatus.Собирается:
                                                    <a class="btn btn-sm btn-primary" asp-action="ChangeStatusOrder" asp-route-id="@item.Id">Отправлено</a>
                                                    <a class="btn btn-sm btn-danger" asp-action="RefusalOrder" asp-route-id="@item.Id">Отказать</a>
                                                    break;
                                            }
                                        }
                                    </th>
                                </tr>
                            }
                            @if(Model.Orders.Count == 0)
                            {
                                <tr>
                                    <th>Нет заказов</th>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <hr />
            <div class="card">
                <div class="card-body">
                    <h6>Новые сообщения</h6>
                    <table class="table table-sm" style="font-size: 12px;">
                        <thead>
                            <tr>
                                <th>Дата</th>
                                <th>Имя</th>
                                <th>Почта</th>
                                <th>Телефон</th>
                                <th>Текст</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Messages)
                            {
                                <tr>
                                    <th>@item.Date</th>
                                    <th>@item.FirstName</th>
                                    <th>
                                        @item.Email
                                    </th>
                                    <th>@item.Phone</th>
                                    <th class="text-wrap">@item.Text</th>
                                </tr>
                            }
                            @if(Model.Messages.Count == 0)
                            {
                                <tr>
                                    <th>Нет сообщений</th>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
               

            </div>
            <hr />
            <div class="card">
                <div class="card-body">
                    <h6>Новые отзывы</h6>
                    <table class="table table-sm" style="font-size: 12px;">
                        <thead>
                            <tr>
                                <th>Дата</th>
                                <th>Имя</th>
                                <th>Почта</th>
                                <th>Тип</th>
                                <th>Оценка</th>
                                <th>Текст</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Reviews)
                            {
                                <tr>
                                    <th><p>@item.Date</p></th>
                                    <th>@item.FirstName</th>
                                    <th>@item.Email</th>
                                    <th>@item.Type</th>
                                    <th class="d-flex"><partial name="../Partials/_StarPartial" model="@item.Star" /></th>
                                    <th>@item.Description</th>
                                    <td>
                                        <a asp-controller="Admin" asp-action="DeleteReview" asp-route-id="@item.Id" class="btn btn-sm btn-danger" title="Удалить"><i class="bi bi-trash"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            
        </div>
    </div>
</div>