@using BudsFlowers.Areas.Identity.Data;
@using BudsFlowers.Views.Admin;
@model List<Order>
@{
    ViewData["Title"] = "Заказы";
    ViewData["ActivePage"] = AdminNavPages.Orders;
}

<div class="p-3">
    <div class="row">
        <div class="col-md-2">
            <partial name="_AdminNavPartial" />
        </div>
        <div class="col-md-9 border-start text-white py-2">
            <partial name="../Partials/_StatusMessage" for="@TempData["StatusMessage"]" />
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    @ViewData["Title"]
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>Номер</th>
                                <th>Статус</th>
                                <th>Имя</th>
                                <th>Почта</th>
                                <th>Телефон</th>
                                <th>Адрес</th>
                                <th>Кол-во товаров</th>
                                <th>Дата оформления</th>
                                <th>Дата доставки</th>
                                <th>Сумма</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Номер</th>
                                <th>Статус</th>
                                <th>Имя</th>
                                <th>Почта</th>
                                <th>Телефон</th>
                                <th>Адрес</th>
                                <th>Кол-во товаров</th>
                                <th>Дата оформления</th>
                                <th>Дата доставки</th>
                                <th>Сумма</th>
                                <th></th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th><a asp-controller="Admin" asp-action="OrderInfo" asp-route-id="@item.Id">#@item.Number</a></th>
                                    <th>@item.Status</th>
                                    <th>@item.FirstName</th>
                                    <th>@item.Email</th>
                                    <th>@item.Phone</th>
                                    <th>ул. @item.Street , д. @item.HomeNumber</th>
                                    <th>@item.Flowers.Count()</th>
                                    <th>@item.DateCreate</th>
                                    <th>@item.DeliveryDate , @item.DeliveryTime</th>
                                    <th>@item.TotalSale руб.</th>
                                    <th>
                                        @{
                                            switch (item.Status)
                                            {
                                                case TypeOrderStatus.Обработка:
                                                    <a class="btn btn-success" asp-action="ChangeStatusOrder" asp-route-id="@item.Id">Принять</a>
                                                    <a class="btn btn-danger" asp-action="RefusalOrder" asp-route-id="@item.Id">Отказать</a>
                                                    break;
                                                case TypeOrderStatus.Принят:
                                                    <a class="btn btn-warning" asp-action="ChangeStatusOrder" asp-route-id="@item.Id">Собирается</a>
                                                    <a class="btn btn-danger" asp-action="RefusalOrder" asp-route-id="@item.Id">Отказать</a>
                                                break;
                                                case TypeOrderStatus.Собирается:
                                                    <a class="btn btn-primary" asp-action="ChangeStatusOrder" asp-route-id="@item.Id">Отправлено</a>
                                                    <a class="btn btn-danger" asp-action="RefusalOrder" asp-route-id="@item.Id">Отказать</a>
                                                    break;
                                            }
                                        }
                                    </th>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
